<!DOCTYPE html>
<html lang="en">

<head>
    <title>Annotator</title>
</head>

<body>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
        function post(path, params) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);
                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        $(function() {
            $("#image").click(function(e) {
              var offset = $(this).offset();
              var relativeX = (e.pageX - offset.left);
              var relativeY = (e.pageY - offset.top);
              var imageName = $("#image").attr("src")
              post("/annotate", {"x": relativeX, "y": relativeY, "img": imageName})
            });
        });


</script>

<img id="image" src="{{ img }}"/>

</body>

</html>

