<!DOCTYPE html>
<html lang="en">

<head>
    <title>Annotator</title>
</head>

<body>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>

function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }
    }

    document.body.appendChild(form);
    form.submit();
}

$(function() {
    $("#image").click(function(e) {
      var offset = $(this).offset();
      var relativeX = (e.pageX - offset.left);
      var relativeY = (e.pageY - offset.top);
      post("/annotate", {"x": relativeX, "y": relativeY})
    });
});
</script>

<a id="image"><img src="{{ picture }}"/></a>

</body>

</html>

